# Flutter / Dart
.dart_tool/
.packages
.pub-cache/
build/

# IDE
.idea/
.vscode/
*.iml

# Platform-specific
android/.gradle/
android/local.properties
ios/Pods/
ios/.symlinks/
ios/Flutter/Generated.xcconfig
ios/Flutter/ephemeral/

# Mac / Windows / Linux
macos/Flutter/ephemeral/
linux/flutter/ephemeral/
windows/flutter/ephemeral/

# Misc
.metadata
.DS_Store
